{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="url" class="form-label">Enter you link</label>
            <input
                type="url"
                class="form-control"
                id="url"
                placeholder="Your link"
                name="url"
            >
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
    </form>

    {% if url %}
        <h1>You link:</h1>
        <span>{{ url }}</span>
    {% endif %}

{% endblock %}
